name: TryHackMe Update Badge

on:
  schedule:
    # Ejecutar cada 24 horas a medianoche UTC
    - cron: '0 0 * * *'
  workflow_dispatch: 

jobs:
  tryhackme-badge-update:
    name: Update TryHackMe badge
    runs-on: ubuntu-latest
    permissions:
      contents: write 

    steps:
      - name: Checkout repository
        uses: actions/checkout@v3

      - name: Create assets folder if not exists
        run: mkdir -p assets

      - name: Download TryHackMe Badge
        run: |
          curl -o assets/tryhackme-badge.png https://tryhackme-badges.s3.amazonaws.com/iamabhijeet.png

      - name: Commit and Push
        run: |
          git config --global user.name "GitHub Actions Bot"
          git config --global user.email "actions@github.com"
          git add assets/tryhackme-badge.png
          
          # Solo hace commit si hay cambios (evita error si la imagen no ha cambiado)
          if git diff --staged --quiet; then
            echo "No changes to commit"
          else
            git commit -m "Update TryHackMe badge"
            git push
          fi
